<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title color=warning>
      Favorit
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let favorite of fav">
      <ion-grid>
        <ion-row>
          <ion-col size="2">
            <img src="http://openweathermap.org/img/wn/{{ favorite.icon }}@2x.png" />
          </ion-col>
          <ion-col size="6">
            <ion-label>
              <h1>
                {{ favorite.main }}
              </h1> <br /> 
              <p>
                {{ favorite.desc }}
              </p>
            </ion-label>
          </ion-col>
          <ion-col size="4">
            <ion-icon color="primary" name="calendar-outline"></ion-icon>
            {{ favorite.date | date:'dd MMM yyyy' }}
            <ion-icon color="warning" name="time-outline"></ion-icon>
            {{ favorite.date | date:'HH:mm' }}
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
</ion-content>
